.main__list-item {
    height: 400px;
    width: 100%;
    cursor: pointer;
}

.main__link {
    text-decoration: none;
}

.main__card {
    height: 100%;
    width: 100%;
    background-color: var(--card-bg-color);
    border-radius: 10px;
    overflow: hidden;
    transition: transform .3s ease-in;
}

.main__card-img {
    width: 107px;
    height: 128px;
    margin: 70px 89px;
    box-shadow: 5px 5px 20px slategray;
}

.main__text-block {
    margin-left: 30px;
}

.main__category {
    font-size: 0.6rem;
    color: slategray;
    text-transform: uppercase;
    margin: 0 0 0 10px;
    text-decoration: underline;
}

.main__name {
    font-size: 1rem;
    font-weight: 700;
    color: black;
    margin: 10px 0;
    max-width: 95%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.main__author {
    font-size: 0.8rem;
    color: slategray;
    margin: 0;
    max-width: 95%;
}

@media (any-hover: hover) {
    .main__card:hover {
        transform: scale(105%);
    }
}